.aboutMe{
  .aboutMe__main{
    width: 70%;
    height: 94%;
    padding: 0 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  }
  .aboutMe__header{
    display: grid;
    justify-items: center;
    font-family: PhilosopherRegular;
    font-size: 30px;
    text-align: center;
    color: #666;
  }
  .aboutMe__section{
    font-family: YanoneLight;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    color: #666;
  }
}