body{
  background: url('../assets/img/bg/anfmF4GGM9w.jpg') no-repeat fixed top/cover;
}
.main{
  display: grid;
}
.header{
  display: grid;
  justify-items: center;
  margin-top: 5%;

  .logo{
    justify-items: center;
    width: 150px;
  }
  .name{
    font-family: Philosopher;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
}
.mainNavigation{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}