.copyright{
  font-family: YanoneLight;
  position: absolute;
  top: 50%;
  right: -50px;
  font-size: 17px;
  font-weight: 100;
  transform: rotate(90deg);
  z-index: 100;
}
.copyright_white{
  color: #fff;
}
.copyright_gray{
  color: #666;
}
