.copyright{
  font-family: YanoneLight;
  position: absolute;
  top: 50%;
  right: -50px;
  font-size: 17px;
  font-weight: 100;
  transform: rotate(90deg);
  z-index: 100;
}
.copyright_white{
  color: #fff;
}
.copyright_gray{
  color: #666;
}

//done
@media only screen and (min-width: 1440px){
  .copyright{
    right: -55px;
    font-size: 19px;
  }
}
//done
@media only screen and (min-width: 1280px) and (max-width: 1365px){
  .copyright{
    right: -50px;
    font-size: 19px;
  }
}
//done 
@media only screen and (min-width: 720px) and (max-width: 1279px){
  .copyright{
    right: -45px;
    font-size: 15px;
  }
}
//done
@media only screen and (min-width: 580px) and (max-width: 719px){
  .copyright{
    right: -45px;
    font-size: 13px;
    color: #fff;
  }
}
//done
@media screen and (min-width: 0px) and (max-width: 579px){
  .copyright{
    display: none;
  }
}