.menuToggle{
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 9px;
  background: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  
  .span1, .span2, .span3{
    width: 45px;
    height: 5px;
    background: #fff;
    border-radius: 4px;
    transition: all .35s cubic-bezier(.08,.81,.87,.71);
  }
  .span1{
    transform-origin: 3px 0px;
  }
  .span3{
    transform-origin: bottom right;
  }
  &:focus{
    outline: none;
  }
  &:hover, &:focus-within{
    .span1, .span2, .span3{
      background-color: #f7a476;
    } 
    &.active .span1, &.active .span2, &.active .span3 {
      background-color: #f7a476;
    } 
  }

  &.active .span1{
    background: #666;
    transform: rotate(45deg) translate(5px);
  }
  &.active .span2{
    background: #666;
    transform: rotate(495deg) translate(4px);   
  }
  &.active .span3{
    background: #666;
    transform: rotate(45deg);
    opacity: 0;
  } 
}

@media only screen and (min-width: 1750px) and (max-width: 1919px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1749px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 1152px) and (max-width: 1279px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1151px){
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
/* Adaptive mobile */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 720px) and (max-width: 767px) {
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
    }
  
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
@media only screen and (min-width: 580px) and (max-width: 719px) {
  .menuToggle{
    gap: 8px;
    padding: 10px;
    top: 20px;
    left: 20px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
      background: #666;
    }
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(2px);   
    }
  }
}
//done
@media only screen and (min-width: 375px) and (max-width: 579px) {
  .menuToggle{
    gap: 5px;
    padding: 10px;
    top: 5px;
    left: 1px;
    
    .span1, .span2, .span3{
      width: 35px;
      height: 4px;
      background: #7bd2f2;
      border: 1px solid #666;
    }
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(4px);   
    }
  }
}
//done
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .menuToggle{
    gap: 5px;
    padding: 10px;
    top: 5px;
    left: 1px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
      background: #7bd2f2;
      border: 1px solid #666;
    }
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(3px);   
    }
  }
}
//done
@media screen and (min-width: 0px) and (max-width: 319px) {
  .menuToggle{
    gap: 5px;
    padding: 10px;
    top: 5px;
    left: 1px;
    
    .span1, .span2, .span3{
      width: 30px;
      height: 3px;
      background: #7bd2f2;
      border: 1px solid #666;
    }
    &.active .span1{
      background: #666;
      transform: rotate(45deg) translate(5px);
    }
    &.active .span2{
      background: #666;
      transform: rotate(495deg) translate(3px);   
    }
  }
}