.portfolio{
  display: grid;
  position: absolute;
  grid-template-columns: 30% 68%;
  gap: 2%;
  top: 1%;
  width: 74%;
  height: 93%;
  padding: 1%;
  background: rgba($color: #fff, $alpha: 0.8);
  border: 1px dashed #666;

  &__list{
    align-self: center;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      width: 0px;
      background: transparent;
    }
  }
  &__listItem{
    width: 100%;
    height: max-content; 
    color: #666;
    
    &:hover{
      cursor: pointer;
      
      .portfolio__listDate{
        border-right: 3px solid #aaa;
      }
      .activeItem{
        border-right: 3px solid #f7a476;
      }
    }

    &::after{
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      opacity: 0.1;
      margin: 40px auto;
      background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
    }
  }
  &__listData{
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5%;
  }
  &__listDate{
    display: grid;
    border-right: 4px solid #ccc;
    font-family: YanoneLight;
    font-size: 16px;
    align-content: space-around;
  }
  &__listDescription{
    display: grid;
    gap: 5px;
  }
  &__listType{
    font-family: YanoneLight;
    font-size: 19px;
  }
  &__listHeader{
    margin: 0;
    font-family: YanoneLight;
    font-size: 28px;
  }
  &__body{
    display: grid;
    color: #666;
    overflow: hidden;
  }
  &__bodyItem{
    display: grid;
    height: 100%;
    grid-template-rows: 55% 40%;
    gap: 5%;
    overflow-y: scroll;
    overflow: auto;
    scrollbar-width: none;
  }
  &__projectHead{
    position: relative;
    font-family: PhilosopherRegular;
    font-size: 35px;
    animation: slide 0.5s ease;
    margin: 0 0 5px 0;
  }
  &__projectView{
    position: absolute;
    animation: slideImg 0.4s ease;
  }
  &__projectImg{
    position: relative;
    margin-left: 5%;
    width: 90%;    
    box-shadow: 0 0 20px #000;
  }
  &__projectType{
    position: absolute;
    top: 20px;
    left: 0;
    width: max-content;
    background-color: #88e14c;
    color: #fff;
    font-size: 19px;
    padding: 2px 7px;
    border-radius: 4px;
    border: 1px solid #666;
    font-family: YanoneLight;
  }
  &__projectDescription{
    font-family: YanoneLight;
    font-size: 20px;
    display: grid;
    gap: 1%;
    overflow-y: scroll;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      width: 0px;
      background: transparent;
    }

    &_bold{
      font-family: YanoneLight;
      margin-right: 10px;
      font-weight: 800;
    }
    &_animaiton{
      position: relative;
      animation: slide 0.3s ease;
    }
  }
  &__projectDescriptionLinks{
    display: flex;
    gap: 20px;
  }
}
.link{
  position: relative;
  width: 25px;
  height: 25px;
  background: #666;
  transition: background .5s ease;
  animation: slide 0.3s ease;

  &:hover, &:focus-within{
    background: #f7a476;
  }
}
.activeItem{
  border-right: 3px solid #f7a476;
}
@keyframes slide{
  from {
    top: 40px;
  }
  to {
    top: 0px;
  }
}

@keyframes slideImg{
  from {
    top: 120px;
  }
  to {
    top: 60px;
  }
}

@media only screen and (min-width: 1750px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 50%;
    height: 93%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 65%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 16px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 19px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 28px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 55% 40%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 35px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 20px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 25px;
    height: 25px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1749px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 55%;
    height: 93%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 20% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 14px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 17px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 25px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 55% 40%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 35px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 20px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 27px;
    height: 27px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 60%;
    height: 93%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 20% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 16px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 19px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 28px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 55% 40%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 35px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 20px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 25px;
    height: 25px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 74%;
    height: 95%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 4px solid #aaa;
        }
        .activeItem{
          border-right: 4px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 20% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 16px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 25px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 45% 50%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 35px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 21px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 30px;
    height: 30px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 4px solid #f7a476;
  }
}
@media only screen and (min-width: 1152px) and (max-width: 1279px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 75%;
    height: 93%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 20% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 14px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 55% 40%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 15px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 18px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 22px;
    height: 22px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1151px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 72%;
    height: 95%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 60%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 14px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 17px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 45% 40%;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 28px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 14px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 18px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 25px;
    height: 25px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
/* Adaptive mobile */
@media only screen and (min-width: 992px) and (max-width: 1023px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 1%;
    width: 70%;
    height: 95%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 65%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 16px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 19px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 22px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: 40% 60%;
      gap: 5%;
      overflow-y: hidden;
      overflow: hidden;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 35px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      position: absolute;
      animation: slideImg 0.4s ease;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 20px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
      margin-bottom: 100px;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 25px;
    height: 25px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 1%;
    top: 0;
    width: 64%;
    height: 97%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 64%;
      gap: 3%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 12px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 14px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      color: #666;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      display: none;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 17px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 25px;
    height: 25px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 720px) and (max-width: 767px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 0;
    width: 77%;
    height: 97%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content;
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 65%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      color: #666;
      overflow: hidden;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      display: none;
    }
    &__projectImg{
      position: relative;
      margin-left: 5%;
      width: 90%;    
      box-shadow: 0 0 20px #000;
    }
    &__projectType{
      position: absolute;
      top: 20px;
      left: 0;
      width: max-content;
      background-color: #88e14c;
      color: #fff;
      font-size: 19px;
      padding: 2px 7px;
      border-radius: 4px;
      border: 1px solid #666;
      font-family: YanoneLight;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 20px;
      display: grid;
      gap: 1%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
  
      &_bold{
        font-family: YanoneLight;
        margin-right: 10px;
        font-weight: 800;
      }
      &_animaiton{
        position: relative;
        animation: slide 0.3s ease;
      }
    }
    &__projectDescriptionLinks{
      display: flex;
      gap: 20px;
    }
  }
  .link{
    position: relative;
    width: 30px;
    height: 30px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  
    &:hover, &:focus-within{
      background: #f7a476;
    }
  }
  .activeItem{
    border-right: 3px solid #f7a476;
  }
}
@media only screen and (min-width: 580px) and (max-width: 719px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 30% 68%;
    gap: 2%;
    top: 0;
    width: 74%;
    height: 97%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
  
    &__list{
      align-self: center;
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        width: 0px;
        background: transparent;
      }
    }
    &__listItem{
      width: 100%;
      height: max-content; 
      color: #666;
      
      &:hover{
        cursor: pointer;
        
        .portfolio__listDate{
          border-right: 3px solid #aaa;
        }
        .activeItem{
          border-right: 3px solid #f7a476;
        }
      }
  
      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 40px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 30% 65%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 11px;
      align-content: space-around;
    }
    &__listDescription{
      display: grid;
      gap: 5px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 13px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 17px;
    }
    &__body{
      display: grid;
      color: #666;
      overflow: hidden;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__project{
      height: max-content;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 28px;
      height: max-content;
      animation: slide 0.5s ease;
      margin: 0 0 5px 0;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 18px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      justify-content: center;
      gap: 15%;
    }
  }
  .link{
    position: relative;
    width: 30px;
    height: 30px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  }
}
@media only screen and (min-width: 480px) and (max-width: 579px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    gap: 2%;
    top: 0;
    width: 97%;
    height: 98%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
    overflow: scroll;
  
    &__list{
      align-self: center;
      justify-self: center;
      width: 70%;
      height: 80%;
    }
    &__listItem{
      width: 70%;
      height: max-content;
      justify-self: center;
      color: #666;

      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 10px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
      padding-right: 20px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      grid-area: 1 / 1;
      justify-self: center;
      width: 70%;
      height: 100%;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 20%;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      justify-content: center;
      gap: 15%;
    }
  }
  .link{
    position: relative;
    width: 35px;
    height: 35px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  }
}
@media only screen and (min-width: 375px) and (max-width: 479px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    gap: 2%;
    top: 0;
    width: 97%;
    height: 98%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
    overflow: scroll;
  
    &__listItem{
      width: 90%;
      height: max-content;
      color: #666;

      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 10px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
      padding-right: 20px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      grid-area: 1 / 1;
      height: 100%;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 20%;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      justify-content: center;
      gap: 15%;
    }
  }
  .link{
    position: relative;
    width: 35px;
    height: 35px;
    background: #666;
    transition: background .5s ease;
    animation: slide 0.3s ease;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    gap: 2%;
    top: 0;
    width: 97%;
    height: 98%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
    overflow: scroll;
  
    &__listItem{
      width: 90%;
      height: max-content;
      color: #666;

      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 10px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
      padding-right: 20px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      grid-area: 1 / 1;
      height: 100%;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 20%;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      width: 50%;
      justify-self: center;
      justify-content: space-around;
      justify-items: center;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 359px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    gap: 2%;
    top: 0;
    width: 97%;
    height: 98%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
    overflow: scroll;
  
    &__listItem{
      width: 90%;
      height: max-content;
      color: #666;

      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 10px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
      padding-right: 20px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      grid-area: 1 / 1;
      height: 100%;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 20%;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 319px){
  .portfolio{
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    gap: 2%;
    top: 0;
    width: 97%;
    height: 98%;
    padding: 1%;
    background: rgba($color: #fff, $alpha: 0.8);
    border: 1px dashed #666;
    overflow: scroll;
  
    &__listItem{
      width: 90%;
      height: max-content;
      color: #666;

      &::after{
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        opacity: 0.1;
        margin: 10px auto;
        background: linear-gradient(to right, rgba(149, 149, 149, 0) 0%, rgba(33, 33, 33, 0.75) 22%, #010101 50%, rgba(38, 38, 38, 0.75) 83%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00959595', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    &__listData{
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 5%;
    }
    &__listDate{
      display: grid;
      border-right: 4px solid #ccc;
      font-family: YanoneLight;
      font-size: 13px;
      align-content: space-around;
      padding-right: 20px;
    }
    &__listType{
      font-family: YanoneLight;
      font-size: 15px;
    }
    &__listHeader{
      margin: 0;
      font-family: YanoneLight;
      font-size: 21px;
    }
    &__body{
      display: grid;
      grid-area: 1 / 1;
      height: 100%;
    }
    &__bodyItem{
      display: grid;
      height: 100%;
      grid-template-rows: max-content auto;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectHead{
      position: relative;
      font-family: PhilosopherRegular;
      font-size: 30px;
      animation: slide 0.5s ease;
      margin: 0 0 5px 20%;
    }
    &__projectView{
      display: none;
    }
    &__projectDescription{
      font-family: YanoneLight;
      font-size: 21px;
      display: grid;
      gap: 5%;
      overflow-y: scroll;
      overflow: auto;
      scrollbar-width: none;
    }
    &__projectDescriptionLinks{
      display: flex;
      justify-content: center;
    }
  }
}